/* =========================
  BLOG LISTING
========================= */

.qs-button{
 background-color: #FF206E;
 color: #FFF;
 padding: 10px 25px;
}

.qs-button__outline{
 background-color: transparent;
 border: 1px solid #FF206E;
 color: #FF206E;
 padding: 10px;
}
